@import url("//db.onlinewebfonts.com/c/42420bce970ab67cc1884ce7eece1df5?family=Supernett+cn");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');
*{
    font-family: "Supernett cn";
}
p{
    font-size:22px;
    font-family: 'Quicksand', sans-serif;
}
a,button{
    font-family: 'Quicksand', sans-serif;
}
#app{
    height: 100vh;
    overflow: hidden;
}
.mission--cursor:hover path{
    fill:white;
}
.screen-wrapper{
    position:relative;
}
.phone{
    position: absolute;
    right: 20%;
    bottom: 7.5%;
}
.mission-modal{
    position: absolute;
    right: 2.85%;
    bottom: 4.89%;
    background: #FFFFFF;
    opacity: 1;
    border-radius: 5px;
    padding: 20px;
}
.mission-modal h2{
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
}
.mission-modal p{
    font-size: 16px;
}
.gameStartScreen{
    position:relative;
}
.mission-modal .mission--button{
    background: #0073C0;
    color: white;
    border-radius: 50px;
    padding: 8px 45px;
    display: block;
    width: 140px;
    margin: auto;
}
.answer-holder--flex{
    display:flex;
}
.svg-holder{
    height: 100vh;
}
.answer--card{
    width:25%;
    margin:auto;
    display:block;
}
.answer--card *{
    width:100%;
}
#nav{
    margin: 30px auto;
}
#nav a{
    display: inline-block;
    width: 20%;
}
.mission-holder{
    width: 80%;
    margin: auto;
}
.absolute--content{
    position:absolute;
    top:47.5%;
    left:50%;
    transform:translate(-50% , -50% )
}

.button--delete, .button-add--question{
    margin:10px;
    display: inline-block;
    width:180px;
    padding:10px 6px;
    border-radius:50px;
    border:1px solid grey;
}
.start-screen-content{
    z-index:9999;
    position:absolute;
    top:50%;
    left:50%;
    transform:translate( -50% , -50% )
}
.startscreen--button{
    padding: 10px 95px;
    background: #0073C0;
    border-radius: 50px;
    font-size:48px;
    color:white;
}
.startscreen--title{
    font-size:120px;
    color:white;
    font-weight:400;
}
.country--mission:hover{
    fill:#0073C0;
}

.MyModal{
    display:none;
}
.MyModalActive{
    display:block !important;
    position: absolute;
    height: 420px;
    left: 54.65%;
    right: 12.85%;
    top: 31.78%;
    bottom: 16.89%;
    background-color:rgba(255, 255, 255, 0.6);
}
.MyModalActiveButton{
    display:block;
    position:absolute;
    bottom:10%;
    right:10%;
}
.close-button{
    height: 20px;
    width: 20px;
    position: absolute;
    top: 0;
    right: 0;
    background-color:white;
    border:1px solid grey;
    border-radius:50px;
}
.backdrop{
    position:relative;
    max-width:1064px;
    margin:auto;
}
.character-holder{
    position:absolute;
    left:0;
    bottom:0;
}
.questions-list{
    position:absolute;
    top: 25%;
    right: 22.5%;
    width:30%;
    padding:10px;
    border-radius: 25px;
    background-color:rgba(255, 255, 255, 0.6);
}
.dialog-bubble{
    background: #E3E3E5;
    border-radius: 20px;
    margin-bottom:20px;
    padding: 10px 13px;
}
.dialog-bubble--blue{
    border-radius: 20px;
    background:#09456E;
    color:#E3E3E5;
    margin-bottom:20px;
    width: 50%;
    margin-left: 42%;
    padding: 10px 13px;
}
.answer-list{
    width:30%;
    margin-left:70%;
}
.answer-list button{
    display:block;
    width:100%;
    margin-bottom:16px;
    background: #0073C0;
    border-radius: 20px;
    padding: 10px 13px;
    border:1px solid white;
    color:white;    
}
.answer-list-promotion button{
    display:inline-block;
    margin-bottom:16px;
    background: #0073C0;
    border-radius: 20px;
    padding: 10px 13px;
    border:1px solid white;
    color:white;    
}

.slide{
    display:none;
}

.slideActive{
    display:block;
}

.phone--button:hover{
    fill:#97C850;
}
.large--phone svg{
    height: 400px;
    right:20px;
}
.svg-character{
    position:absolute;
    bottom:0;
    left:15%;
}
.final-game-div{
    background-image: url(/img/FinalGameIllu.a36a0610.png);
    height: 253px;
    width: 606px;
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 3px;
    border: 1px solid white;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(19, 1fr);
    grid-gap: 2px;
}

.wrapper div{
    border:1px solid grey;
    position:relative;
    border-radius:3px;
    height: 28px;
    width: 28px;
}

.wrapper div:hover{
    background-color:#0073C0;
    opacity:0.9;
}
.score-card{
    position:absolute;
    top:50%;
    left:50%;
    transform:translate( -50% , -50% );
    padding:26px;
    border-radius:15px;
    background-color:rgba(255, 255, 255, 0.6);
    border:1px solid black;
    width:60%;
}

.player-list{
    overflow-y: scroll;
    list-style: none;
    height: 80%;
    width: 95%;
    margin: auto;
    padding:0;
}
.player{
    display:block;
    width:100%;
}
.game--title{
    font-weight: normal;
    font-size: 76px;
    margin: 0;
    color:white;
}
.blue--large button{
    background: #0073C0;
    border-radius: 50px;
    padding: 2px 22px;
    font-size: 26px;
    color: white;
    border: 0;
    display: block;
    width: 100%;
    margin: auto;
}
.blue--large button , .absolute--content input{
    max-width:180px;
}
.absolute--content input{
    margin: 20px auto;
}
.name-input{
    height: 32px;
    padding: 0 35px;
    position: relative;
    display: block;
    margin:auto;
    width: 100%;
    background: #fff;
    border-radius: 31px;
    font-size: 18px;
    color: #8f8fa1;
    line-height: 1.2;
}
.character--map-list{
    background-image: url('../mission_images/maire.svg');
    width: 174px;
    height: 173px;
    background-color:grey;
    background-size: cover;
    border-radius:200px;
}
.flex--missionList{
    display:flex;
}
.character--map-text{
    width: 60%;
    padding: 0 10px;
}
.player-flex{
    display: inline-flex;
    margin: 10px auto;
    width: 90%;
    padding: 10px;
    border: 1px solid black;
}
.player-flex p {
    width:45%;
    margin:auto;
}
.absolute--content{
    position:absolute;
    top:50%;
    left:50%;
    z-index:9999;
    height:40vh;
    width:60%;
}
.scoreboard{
    position:absolute;
    top: 55%;
    left: 50%;
    z-index: 9999;
    height: 75vh;
    width:60%;
    background-color:rgba(255, 255, 255, 0.6);
    transform:translate( -50% , -50% )
}
.hello{
    border:none;
    background-color:transparent;
}
.button--blue{
    background: #0073C0;
    border-radius: 50px;
    padding: 2px 22px;
    font-size: 22px;
    color: white;
    border: 0;
    display: block;
    width: 100%;
    margin: auto;
    max-width:200px;
}

.last-game{
    top: 15%;
    right: 27.5%;
    background-color:transparent;
}

